<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="utf-8">
  <title>Scraping new article - NewScrap!</title>
  <meta name="description" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="keywords" content="新聞,ニュース,Yahoo!ニュース,スクラップ,まとめ,クラウド">
  <meta name="og:type" content="website">
  <meta name="og:title" content="NewScrap!">
  <meta name="og:discription" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="og:image" content="/imgs/og_img.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/cutestrap.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" href="/icon_font/foundation-icons.css">
</head>

  <body>
  <div id="loading">
      <div class="ld-text"><span class="loading"><span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span></span>
      </div>
  </div>
  
  <div id="content">
    <nav class="nav_wrapper flex">
      <div class ="nav_left flex ta_left">
      <h1><a href="/"><img alt="newscrap_logo" src="/imgs/logo_white.png"></a></h1>
      <div class="share-wrappear flex ta_center">
        <ul>
          <li>
            <a href="http://twitter.com/share?text=NewScrap!でお気に入りの記事をスクラップしよう！&url=&hashtags=NewScrap&via=0keihaaan" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="i_default fi-social-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/dialog/feed?app_id=419866574778905&link=&&name=NewScrap!&caption=NewScrap!でお気に入りの記事をスクラップしよう！&redirect_uri=http://mocofp.com/&display=page"><i class="i_default fi-social-facebook"></i></a>
          </li>
          <li>
            <a href="mailto:umknown?subject=NewScrap!を使おう！&amp;NewScrap!でお気に入りの記事をスクラップしよう"><i class="i_default fi-mail"></i></a>
          </li>
        </ul>
      </div>
      <ul class="nav_ul_wrappear flex ta_right">
        li><a href="/scrap"><i class="fi-clipboard-pencil"></i><div class="grid--medium">Scrap</div></a></li>
        <li><a href="/search"><i class="fi-magnifying-glass"></i><div class="grid--medium">Search</div></a></li>
        <li><a href="/analize"><i class=".fi-graph-bar"></i><div class="grid--medium">Analize</div></a></li>
        <li><a href="/sign_out"><i class="fi-lock"></i><div class="grid--medium">Sign Out</div></a></li>
      </ul>
    </nav>

    <div class="main">
    </div>
    
    <footer>
      <p>(c)okeihaan 2017 all rights reserved</p>
      <p><a href="javascript:w=window.open('/info_form','','scrollbars=yes,Width=500,Height=600');w.focus();">info</a></p>
    </footer>
  </div>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
