<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="utf-8">
  <title>Scraping new article - NewScrap!</title>
  <meta name="description" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="keywords" content="新聞,ニュース,Yahoo!ニュース,スクラップ,まとめ,クラウド">
  <meta name="og:type" content="website">
  <meta name="og:title" content="NewScrap!">
  <meta name="og:discription" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="og:image" content="../public/imgs/og_img.png">
  <link rel="shortcut icon" href="../public/imgs/favicon.ico">
  <link rel="stylesheet" type="text/css" href=”../public/cutestrap.css”>
  <link rel="stylesheet" type="text/css" href="../public/main.css">
  <link rel="stylesheet" href="./icon_font/foundation-icons.css">
</head>
  <body>
    <nav class="nav_wrapper">
      <h1><a href="/"><img alt="newscrap_logo" src="/imgs/logo_white.png"></a></h1>
      <ul class="nav_ul_wrappear">
        <li><a href="scrap"><i class="fi-clipboard-pencil"></i>Scrap</a></li>
        <li><a href="search"><i class="fi-magnifying-glass"></i>Search</a></li>
        <li><a href="analize"><i class="fi-clipboard-pencil"></i>Analize</a></li>
        <li><a href="sign_out"><i class="fi-lock"></i>Sign Out</a></li>
      </ul>
    </nav>
    <header>
      <h1><img alt="newscrap_logo" src="../public/imgs/logo_white.png"></h1>
    </header>
    <div class="main">
    </div>
    <footer>
      <a href="info" target="_blank">info</a>
      <p>(c)okeihaan 2017 all rights reserved</p>
    </footer>
    <script type="text/javascript" src="//googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="../public/main.js"></script>
  </body>
</html>
