<!DOCTYPE html>
<html lang ="ja">
<head>
  <meta charset="utf-8">
  <title>NewScrap!</title>
  <meta name="description" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="keywords" content="新聞,ニュース,Yahoo!ニュース,スクラップ,まとめ,クラウド">
  <meta name="og:type" content="website">
  <meta name="og:title" content="NewScrap!">
  <meta name="og:discription" content="気になる記事をクラウド一括管理！デジタル時代の新感覚スクラップブック">
  <meta name="og:image" content="/imgs/og_img.png">
  <link rel="shortcut icon" href="/imgs/favicon.ico">
  <link rel="stylesheet" type="text/css" href=”/css/cutestrap.css”>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="/icon_font/foundation-icons.css">
</head>

  <body>
    <nav class="nav_wrapper flex">
      <div class ="nav_left flex ta_left">
      <h1><a href="/"><img alt="newscrap_logo" src="/imgs/logo_white.png"></a></h1>
      <div class="share-wrappear flex ta_center">
        <ul>
          <li>
            <a href="http://twitter.com/share?text=NewScrap!でお気に入りの記事をスクラップしよう！&url=&hashtags=NewScrap&via=0keihaaan" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="i_default fi-social-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/dialog/feed?app_id=419866574778905&link=&&name=NewScrap!&caption=NewScrap!でお気に入りの記事をスクラップしよう！&redirect_uri=http://mocofp.com/&display=page"><i class="i_default fi-social-facebook"></i></a>
          </li>
          <li>
            <a href="mailto:umknown?subject=NewScrap!を使おう！&amp;NewScrap!でお気に入りの記事をスクラップしよう"><i class="i_default fi-mail"></i></a>
          </li>
        </ul>
      </div>
      <ul class="nav_ul_wrappear flex ta_right">
        <li><a href="scrap" class="btn"><i class="i_default fi-torsos"></i>Sign Up</a></li>
        <li><a href="sign_out" class="btn--secondary"><i class="i_default fi-key"></i>Sign In</a></li>
      </ul>
    </nav>
    <header>
      <div class="hero ta_center">
        <h2>The Dawn of a New Scrap Era</h2>
      </div>
    </header>
    
    <div class="main">
      <div class="intro">
        <h2>気になる記事をクラウド一括管理！新感覚のWebスクラップブック</h2>
        
        <div class="about">
          <h3>What's NewScrap?</h3>
          //Youtube貼り付け
        </div>
        
        <div class="how_to">
          <h3>How to use NewScrap?</h3>
            <div class="card-wrapper flex">
            </div>
        </div>
      </div>
      
      <div class="recommend">
        <h3 class="ta_center">Why don't you change to scrap ?</h3>
        <div class="flex wd_100 ta_center">
          <a href="/sign_up" class="button">Sign Up</a>
          <a href="/sign_in" class="button">Sign In</a>
        </div>
      </div>
    </div>

    <footer class="flex ta_left">
      <a href="/info" target="_blank">info</a>
      <p>(c)okeihaaan 2017 all rights reserved</p>
    </footer>

    <script type="text/javascript" src="//googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>